table {
    border: 2px solid #000000;
    border-spacing: 0;
    border-collapse: collapse;
    transition: all 0.5s;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

td {
    border: 1px solid #000000;
    text-align: center;
    vertical-align: middle;
}

td input {
    color: #000000;
    padding: 0;
    border: 0;
    text-align: center;
    width: 48px;
    height: 48px;
    font-size: 24px;
    background-color: #FFFFFF;
    outline: none;
    text-transform: uppercase;
    transition: all 0.5s;
}

input:disabled {
    background-color: #bbdefb;
}

tr:nth-child(3n) {
    border-bottom: 4px solid #000000;
}

tr:nth-child(3n+1) {
    border-top: 4px solid #000000;
}

td:nth-child(3n) {
    border-right: 4px solid #000000;
}

td:nth-child(3n+1) {
    border-left: 4px solid #000000;
}

.right-cell {
    box-shadow: inset 0px 0px 20px 3px forestgreen;
}

.wrong-cell {
    box-shadow: inset 0px 0px 20px 3px tomato
}

.warning-cell {
    box-shadow: inset 0px 0px 20px 3px goldenrod;
}